<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">>
<head>
    <meta charset="UTF-8">
    <title>Rekap Kehadiran</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div th:if="${!#strings.isEmpty(message)}" class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <span th:text="${message}">Change a few things up and try submitting again.</span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-bold">
            <div class="float-right">
                <a th:href="@{/home}" href="#"><em class="px-2 fa fa-home fa-lg text-success"></em></a>
                <a th:href="@{/presensi/change-password}" href="#"><em class="px-2 fa fa-redo fa-lg"></em></a>
            </div>
            Ubah Password
        </div>
        <div class="card-body">
            <form class="form-horizontal" method="post" th:action="@{/presensi/change-password}"
                  th:object="${data}" action="/">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password Saat ini</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" name="userPassword" required/>
                        <div class="text-danger" th:if="${#fields.hasErrors('userPassword')}"
                             th:errors="*{userPassword}">Help
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password Baru</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" name="newPassword" required/>
                        <div class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                            Help
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Konfirmasi Password Baru</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" name="passwordConfirm" required/>
                        <div class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
                             th:errors="*{passwordConfirm}">Help
                        </div>
                    </div>
                </div>

                <div class="form-group row text-right">
                    <div class="col-sm-12 col-sm-offset-2">
                        <button class="btn btn-success" type="submit">Simpan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
