<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Laporan In/Out</title>

    <div layout:fragment="assets">
        <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css}">
        <link rel="stylesheet" th:href="@{/assets/vendor/select2/dist/css/select2.css}">
        <style>
            /* Height fix for select2 */
            .select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 34px;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 34px;
            }
        </style>
    </div>

</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger alert-dismissable" th:if="${!#strings.isEmpty(message)}">
                <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
                <span th:text="${message}">Change a few things up and try submitting again.</span>
            </div>

            <form class="form-group mb-4" method="get">
                <div class="form-row ">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-form-label" for="id-mulai">Periode Mulai</label>
                                <div class="input-group date">
                                    <input class="form-control tanggal" id="id-mulai" name="mulai"
                                           th:value="${mulai !=null ? mulai : #dates.format(#dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), 1),'yyyy-MM-dd')}"
                                           type="text">
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text far fa-clock"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-form-label" for="id-selesai">Periode Selesai</label>
                                <div class="input-group date">
                                    <input class="form-control tanggal" id="id-selesai" name="selesai"
                                           th:value="${selesai !=null ? selesai : #dates.format(#dates.createNow(),'yyyy-MM-dd')}"
                                           type="text">
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text far fa-clock"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-group" id="parent-pegawai-search">
                                <label class="col-form-label" for="id-pegawai-cari">Pegawai</label>
                                <div>
                                    <select class="form-control input-sm" id="id-pegawai-cari" name="pegawaiCari"
                                            th:value="${pegawaiCari}">
                                        <option value=""></option>
                                        <option th:each="p : ${listPegawai}"
                                                th:selected="${pegawaiCari?.id == p?.id}"
                                                th:text="${p.gelarDepan == null ? '' : p.gelarDepan + ' '} + ${p.nama} + ${p.gelarBelakang == null ? '' : ' ' + p.gelarBelakang}"
                                                th:value="${p.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-group" id="parent-jenis-pegawai">
                                <label class="col-form-label" for="id-jenis-pegawai">Jenis Pegawai</label>
                                <div>
                                    <select class="form-control" id="id-jenis-pegawai" name="idJenisPegawai"
                                            style="width: 100%" th:value="${idJenisPegawai}">
                                        <option value=""></option>
                                        <option th:each="p : ${listJenisPegawai}"
                                                th:selected="${idJenisPegawai == p?.id}"
                                                th:text="${p.nama}" th:value="${p.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-check mt-4 pt-3">
                            <input class="form-check-input" id="is-pegawai-shift" name="isPegawaiShift"
                                   th:checked="${isPegawaiShift}"
                                   type="checkbox">
                            <label class="form-check-label" for="is-pegawai-shift">
                                Pegawai Shift
                            </label>
                        </div>
                    </div>

                </div>
                <div class="d-flex">
                    <div class="ml-auto">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </div>
            </form>

            <th:block th:if="${jenisReport == 'Type1'}">
                <div class="card card-default">
                    <div class="card-header text-bold">
                        <div class="float-right">
                            <a href="#" th:href="@{/home}"><em class="px-2 fa fa-home fa-lg text-success"></em></a>
                            <a href="#" th:href="@{/admin-unit/laporan/in-out}"><em class="px-2 fa fa-redo fa-lg"></em></a>
                        </div>
                        Laporan In/Out Detail
                        <th:block th:text="${jenisPegawai == null ? '' : '- ' + jenisPegawai.nama}"></th:block>
                    </div>
                    <div class="card-body">
                        <div class="clearfix">
                            <form method="post" th:action="@{/admin-unit/laporan/in-out-print}">
                                <input name="mulai"
                                       th:value="${mulai !=null ? mulai : #dates.format(#dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), 1),'yyyy-MM-dd')}"
                                       type="hidden"/>
                                <input name="selesai"
                                       th:value="${selesai !=null ? selesai : #dates.format(#dates.createNow(),'yyyy-MM-dd')}"
                                       type="hidden"/>
                                <input name="idPegawaiCari" th:value="${pegawaiCari?.id}" type="hidden"/>
                                <input name="isPegawaiShift" th:value="${isPegawaiShift}" type="hidden"/>
                                <button class="btn btn-success float-left" type="submit">Download</button>
                            </form>
                        </div>
                        <div class="row mt-5">
                            <div class="col-6">
                                <div class="clearfix">
                                    <p class="float-left">ID Absen</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawaiCari.nomorAbsen}">1257</span>
                                    </p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">Nama</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawaiCari.nama}">Supardi, M.Kom</span></p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">NIP</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawaiCari.nip==null ? '-' : pegawaiCari.nip}">1234</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="clearfix">
                                    <p class="float-left">Pangkat/Gol.</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${(pegawaiCari.golongan?.pangkat==null ? '' : pegawaiCari.golongan?.pangkat + '/' + (pegawaiCari.golongan?.nama==null ? '' : pegawaiCari.golongan?.nama))}">Golongan IIIa</span>
                                    </p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">Jabatan</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawaiCari.jabatanPegawai?.nama}">Supardi, M.Kom</span>
                                    </p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">Unit Kerja</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawaiCari?.unitKerjaPresensi?.nama}">1576</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Tanggal</th>
                                <th>Datang</th>
                                <th>Pulang</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="d : ${data}">
                                <td th:text="${dStat.index+1}">No</td>
                                <td th:text="${d.tanggal}">Tanggal</td>
                                <td th:text="${#temporals.format(d.datang, 'HH:mm')}">Datang</td>
                                <td th:text="${#temporals.format(d.pulang, 'HH:mm')}">Pulang</td>
                                <th:block th:if="${d.jamKerjaShift != null}">
                                    <td th:text="${d.jamKerjaShift=='L' ? 'Libur' : (d.status==null? 'Alpa' : d.status)}">
                                        Status
                                    </td>
                                </th:block>
                                <th:block th:unless="${d.jamKerjaShift != null}">
                                    <td th:text="${d.hari=='Libur' ? d.hari: (d.status==null? 'Alpa' : d.status)}">
                                        Status
                                    </td>
                                </th:block>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </th:block>

            <th:block th:if="${jenisReport == 'Type2'}">
                <div class="card card-default">
                    <div class="card-header text-bold">
                        <div class="float-right">
                            <a href="#" th:href="@{/home}"><em class="px-2 fa fa-home fa-lg text-success"></em></a>
                            <a href="#" th:href="@{/admin-unit/laporan/in-out}"><em class="px-2 fa fa-redo fa-lg"></em></a>
                        </div>
                        Laporan In/Out Detail
                        <th:block th:text="${jenisPegawai == null ? '' : '- ' + jenisPegawai.nama}"></th:block>
                    </div>
                    <div class="card-body">
                        <div class="clearfix">
                            <form method="post" th:action="@{/admin-unit/laporan/in-out-print-all}">
                                <input name="mulai"
                                       th:value="${mulai !=null ? mulai : #dates.format(#dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), 1),'yyyy-MM-dd')}"
                                       type="hidden"/>
                                <input name="selesai"
                                       th:value="${selesai !=null ? selesai : #dates.format(#dates.createNow(),'yyyy-MM-dd')}"
                                       type="hidden"/>
                                <input name="idJenisPegawai" th:value="${jenisPegawai?.id}" type="hidden"/>
                                <input name="isPegawaiShift" th:value="${isPegawaiShift}" type="hidden"/>
                                <button class="btn btn-success float-left" type="submit">Download</button>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2">NIP</th>
                                <th rowspan="2">Nama</th>
                                <th rowspan="2">IN/OUT</th>
                                <th:block th:each="b : ${listBulan}">
                                    <th class="text-bold text-center" th:colspan="${b.value}"><span
                                            th:text="${b.key}"></span></th>
                                </th:block>
                            </tr>
                            <tr>
                                <th:block th:each="h : ${hariKerja}">
                                    <td class="text-bold text-center"
                                        th:text="${#temporals.format(h.tanggal, 'd')}"></td>
                                </th:block>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="d, dStat : ${data}">
                                <tr>
                                    <td rowspan="2" th:text="${dStat.index + 1}"></td>
                                    <td rowspan="2" th:text="${d.nip}"></td>
                                    <td rowspan="2" th:text="${d?.nama}"></td>
                                    <td>IN:</td>
                                    <th:block th:each="s : ${dataInOut}">
                                        <th:block th:if="${s.pegawai?.id == d.id}">
                                            <th:block th:if="${s.jamKerjaShift != null}">
                                                <td th:text="${s.datang != null ? #temporals.format(s.datang, 'HH:mm') : (s.jamKerjaShift=='L' ? 'L' : (s.status==null? 'A' : (s.status == 'Dinas Luar' ? 'DL' : (s.status == 'Cuti' ? 'C' : (s.status == 'Sakit' ? 'S' : (s.status == 'Tugas Belazar' ? 'TB' : #temporals.format(s.datang, 'HH:mm')))))))}"></td>
                                            </th:block>
                                            <th:block th:unless="${s.jamKerjaShift != null}">
                                                <td th:text="${s.datang != null ? #temporals.format(s.datang, 'HH:mm') : (s.hari=='Libur' ? 'L' : (s.status==null? 'A' : (s.status == 'Dinas Luar' ? 'DL' : (s.status == 'Cuti' ? 'C' : (s.status == 'Sakit' ? 'S' : (s.status == 'Tugas Belazar' ? 'TB' : #temporals.format(s.datang, 'HH:mm')))))))}"></td>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </tr>
                                <tr>
                                    <td>OUT:</td>
                                    <th:block th:each="s : ${dataInOut}">
                                        <th:block th:if="${s.pegawai?.id == d.id}">
                                            <th:block th:if="${s.jamKerjaShift != null}">
                                                <td th:text="${s.pulang != null ? #temporals.format(s.pulang, 'HH:mm') : (s.jamKerjaShift=='L' ? 'L' : (s.status==null? 'A' : (s.status == 'Dinas Luar' ? 'DL' : (s.status == 'Cuti' ? 'C' : (s.status == 'Sakit' ? 'S' : (s.status == 'Tugas Belazar' ? 'TB' : #temporals.format(s.pulang, 'HH:mm')))))))}"></td>
                                            </th:block>
                                            <th:block th:unless="${s.jamKerjaShift != null}">
                                                <td th:text="${s.pulang != null ? #temporals.format(s.pulang, 'HH:mm') : (s.hari=='Libur' ? 'L' : (s.status==null? 'A' : (s.status == 'Dinas Luar' ? 'DL' : (s.status == 'Cuti' ? 'C' : (s.status == 'Sakit' ? 'S' : (s.status == 'Tugas Belazar' ? 'TB' : #temporals.format(s.pulang, 'HH:mm')))))))}"></td>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </th:block>

        </div>
    </div>
</div>


<div layout:fragment="scripts">
    <script th:src="@{/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/assets/vendor/select2/dist/js/select2.full.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {
            $('.tanggal').datepicker({
                format: 'yyyy-mm-dd',
                todayHighlight: true
            });

            $('#id-jenis-pegawai').select2({
                placeholder: " Pilih Jenis Pegawai",
                allowClear: true,
                width: 'resolve'
            });

            $('#id-pegawai-cari').select2({
                placeholder: " Cari Pegawai",
                allowClear: true,
                width: 'resolve'
            });

            $('#api-pegawai-cari').select2({
                dropdownParent: $("#parent-pegawai-search"),
                placeholder: "Cari pegawai",
                minimumInputLength: 3,
                width: 'resolve',
                ajax: {
                    url: "/api/employees/admin-unit/" + [[${listIdUnitKerja}]],
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            nama: params.term
                        }

                        return query;
                    },
                    processResults: function (data) {
                        var dataPegawai = [];
                        data.forEach(function (value, key) {
                            dataPegawai.push({
                                id: value.id,
                                text: (value.gelarDepan == null ? "" : value.gelarDepan + " ") + value.nama + (value.gelarBelakang == null ? "" : " " + value.gelarBelakang)
                            })
                        });
                        return {
                            results: dataPegawai
                        }
                    },
                    cache: true
                }
            }).css('height', '34px');
        });
    </script>
</div>
</body>
</html>
