<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Rekap Pegawai</title>
    <div layout:fragment="assets">
        <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css}">
        <link rel="stylesheet" th:href="@{/assets/vendor/select2/dist/css/select2.css}">
        <style>
            /* Height fix for select2 */
            .select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 34px;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 34px;
            }
        </style>
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger alert-dismissable" th:if="${!#strings.isEmpty(message)}">
                <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
                <span th:text="${message}">Change a few things up and try submitting again.</span>
            </div>

            <form class="form-group mb-4" method="get">
                <div class="form-row ">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-form-label" for="id-mulai">Periode Mulai</label>
                                <div class="input-group date">
                                    <input class="form-control tanggal" id="id-mulai" name="mulai"
                                           th:value="${mulai !=null ? mulai : #dates.format(#dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), 1),'yyyy-MM-dd')}"
                                           type="text">
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text far fa-clock"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-form-label" for="id-selesai">Periode Selesai</label>
                                <div class="input-group date">
                                    <input class="form-control tanggal" id="id-selesai" name="selesai"
                                           th:value="${selesai !=null ? selesai : #dates.format(#dates.createNow(),'yyyy-MM-dd')}"
                                           type="text">
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text far fa-clock"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-group" id="parent-pegawai-search">
                                <label class="col-form-label" for="id-pegawai-cari">Pegawai</label>
                                <div>
                                    <select class="form-control input-sm" id="id-pegawai-cari" name="pegawaiCari"
                                            th:value="${pegawaiCari}">
                                        <option value=""></option>
                                        <option th:each="p : ${listPegawai}"
                                                th:selected="${pegawaiCari?.id == p?.id}"
                                                th:text="${p.gelarDepan == null ? '' : p.gelarDepan + ' '} + ${p.nama} + ${p.gelarBelakang == null ? '' : ' ' + p.gelarBelakang}"
                                                th:value="${p.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-group" id="parent-kategori-pegawai">
                                <label class="col-form-label" for="id-kategori-pegawai">Kategori Pegawai</label>
                                <div>
                                    <select class="form-control" id="id-kategori-pegawai" name="idKategoriPegawai"
                                            style="width: 100%" th:value="${idKategoriPegawai}">
                                        <option value=""></option>
                                        <option th:each="p : ${listKategoriPegawai}"
                                                th:selected="${idKategoriPegawai == p?.id}"
                                                th:text="${p.nama}"
                                                th:value="${p.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-check mt-4 pt-3">
                            <input class="form-check-input" id="is-pegawai-shift" name="isPegawaiShift"
                                   th:checked="${isPegawaiShift}"
                                   type="checkbox">
                            <label class="form-check-label" for="is-pegawai-shift">
                                Pegawai Shift
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="ml-auto">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </div>
            </form>

            <th:block th:if="${jenisReport == 'Type1'}">
                <div class="card card-default">
                    <div class="card-header text-bold">
                        <div class="float-right">
                            <a href="#" th:href="@{/home}"><em class="px-2 fa fa-home fa-lg text-success"></em></a>
                            <a href="#" th:href="@{/admin-unit/laporan/rekap-pegawai}"><em
                                    class="px-2 fa fa-redo fa-lg"></em></a>
                        </div>
                        Rekap Pegawai
                    </div>
                    <div class="card-body">
                        <div class="clearfix">
                            <form method="post" th:action="@{/admin-unit/laporan/rekap-pegawai-print}">
                                <input name="mulai"
                                       th:value="${mulai !=null ? mulai : #dates.format(#dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), 1),'yyyy-MM-dd')}"
                                       type="hidden"/>
                                <input name="selesai"
                                       th:value="${selesai !=null ? selesai : #dates.format(#dates.createNow(),'yyyy-MM-dd')}"
                                       type="hidden"/>
                                <input name="idPegawaiCari" th:value="${pegawaiCari?.id}" type="hidden"/>
                                <input name="isPegawaiShift" th:value="${isPegawaiShift}" type="hidden"/>
                                <button class="btn btn-success float-left" type="submit">Download</button>
                            </form>
                        </div>
                        <div class="row mt-5">
                            <div class="col-6">
                                <div class="clearfix">
                                    <p class="float-left">ID Absen</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawaiCari.nomorAbsen}">1257</span>
                                    </p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">Nama</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawaiCari.nama}">Supardi, M.Kom</span></p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">NIP</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawaiCari.nip==null ? '-' : pegawaiCari.nip}">1234</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="clearfix">
                                    <p class="float-left">Pangkat/Gol.</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${(pegawaiCari.golongan?.pangkat==null ? '' : pegawaiCari.golongan?.pangkat + '/' + (pegawaiCari.golongan?.nama==null ? '' : pegawaiCari.golongan?.nama))}">Golongan IIIa</span>
                                    </p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">Jabatan</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawaiCari.jabatanPegawai?.nama}">Supardi, M.Kom</span>
                                    </p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">Unit Kerja</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawaiCari?.unitKerjaPresensi?.nama}">1576</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="text-center text-bold">
                                <tr>
                                    <td rowspan="3">No</td>
                                    <td rowspan="3">Bulan</td>
                                    <td rowspan="3">Jml Hari Kerja</td>
                                    <td colspan="11">Perincian Pelaksanaan Harian Kerja</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Jml Hadir</td>
                                    <td colspan="3">Keterangan Tidak Hadir</td>
                                    <td rowspan="2">Tidak Absen Datang / Pulang</td>
                                    <td rowspan="2">Alpa / Tanpa Keterangan</td>
                                    <td colspan="2">Kekurangan Jam Kerja</td>
                                    <td colspan="2">Total Kekurangan Jam Kerja</td>
                                    <td rowspan="2">Aktual Hari Kerja</td>
                                </tr>
                                <tr>
                                    <td>Cuti</td>
                                    <td>Sakit</td>
                                    <td>DL</td>
                                    <td>Terlambat</td>
                                    <td>Pulang Lebih Awal</td>
                                    <td>Jam</td>
                                    <td>Hari</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="d : ${data}">
                                    <td th:text="${dStat.index+1}">No</td>
                                    <td th:text="${d.bulanNama}">Oktober</td>
                                    <td th:text="${d.hariKerja}">22</td>
                                    <td th:text="${d.hadir}">21</td>
                                    <td th:text="${d.cuti}">1</td>
                                    <td th:text="${d.sakit}">0</td>
                                    <td th:text="${d.dinasLuar}">0</td>
                                    <td th:text="${d.tidakAbsen}">0</td>
                                    <td th:text="${d.alpa}">0</td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tTerlambat=${d.timeTerlambat == null ? 0 : d.timeTerlambat}, tJam=${currentService.getExactHourNumber(tTerlambat)}, tSisa=${tTerlambat % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tTerlambat % 60} ">00:00</span>
                                    </td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tKecepetan=${d.timeKecepetan == null ? 0 : d.timeKecepetan}, tJam=${currentService.getExactHourNumber(tKecepetan)}, tSisa=${tKecepetan % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tKecepetan % 60} ">00:00</span>
                                    </td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tJamKurang=${d.timeJamKurang == null ? 0 : d.timeJamKurang}, tJam=${currentService.getExactHourNumber(tJamKurang)}, tSisa=${tJamKurang % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tJamKurang % 60} ">00:00</span>
                                    </td>
                                    <td th:text="${d.hariKurang}">1</td>
                                    <td th:text="${d.aktualKerja}">20</td>
                                </tr>
                                <tr class="text-bold">
                                    <td colspan="2">TOTAL</td>
                                    <td><span th:text="${#aggregates.sum(data.![hariKerja])}">22</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![hadir])}">21</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![cuti])}">1</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![sakit])}">0</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![dinasLuar])}">0</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![tidakAbsen])}">1</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![alpa])}">0</span></td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tTerlambat=${#aggregates.sum(data.![timeTerlambat] == null ? 0 : data.![timeTerlambat])}, tJam=${currentService.getExactHourNumber(tTerlambat)}, tSisa=${tTerlambat % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tTerlambat % 60} ">00:00</span>
                                    </td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tKecepetan=${#aggregates.sum(data.![timeKecepetan] == null ? 0 : data.![timeKecepetan])}, tJam=${currentService.getExactHourNumber(tKecepetan)}, tSisa=${tKecepetan % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tKecepetan % 60} ">00:00</span>
                                    </td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tJamKurang=${#aggregates.sum(data.![timeJamKurang] == null ? 0 : data.![timeJamKurang])}, tJam=${currentService.getExactHourNumber(tJamKurang)}, tSisa=${tJamKurang % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tJamKurang % 60} ">00:00</span>
                                    </td>
                                    <td><span th:text="${#aggregates.sum(data.![hariKurang])}">1</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![aktualKerja])}">10</span></td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3">
                                <div class="float-left">
                                    <p class="text-bold">Akumulasi Perhitungan Total Kekurangan Jam Kerja dalam 1
                                        Periode:</p>
                                    <ol type="a">
                                        <li>7,5 - 8 jam dianggap 1 hari tidak masuk</li>
                                        <li>8,1 - 16 jam dianggap 2 hari tidak masuk</li>
                                        <li>16,1 - 24 jam dianggap 3 hari tidak masuk</li>
                                        <li>Untuk selanjutnya kelipatan 8 jam bertambah 1 hari tidak masuk</li>
                                        <li>Tidak absen datang/pulang dianggap tidak masuk kerja</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:if="${jenisReport == 'Type2'}">
                <div class="card card-default">
                    <div class="card-header text-bold">
                        <div class="float-right">
                            <a href="#" th:href="@{/home}"><em class="px-2 fa fa-home fa-lg text-success"></em></a>
                            <a href="#" th:href="@{/admin-unit/laporan/rekap-pegawai}"><em
                                    class="px-2 fa fa-redo fa-lg"></em></a>
                        </div>
                        Rekap Pegawai
                        <th:block
                                th:text="${idKategoriPegawai == 1 ? ' - Kategori PNS' : (idKategoriPegawai == 2 ? ' - Kategori NON-PNS' : '')}"></th:block>
                    </div>
                    <div class="card-body">
                        <div class="clearfix">
                            <form method="post" th:action="@{/admin-unit/laporan/rekap-pegawai-print-all}">
                                <input name="mulai"
                                       th:value="${mulai !=null ? mulai : #dates.format(#dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), 1),'yyyy-MM-dd')}"
                                       type="hidden"/>
                                <input name="selesai"
                                       th:value="${selesai !=null ? selesai : #dates.format(#dates.createNow(),'yyyy-MM-dd')}"
                                       type="hidden"/>
                                <input name="idKategoriPegawai" th:value="${idKategoriPegawai}" type="hidden"/>
                                <input name="isPegawaiShift" th:value="${isPegawaiShift}" type="hidden"/>
                                <button class="btn btn-success float-left" type="submit">Download</button>
                            </form>
                        </div>
                        <br/>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="text-center text-bold">
                                <tr>
                                    <th rowspan="3">No</th>
                                    <th rowspan="3">Nama</th>
                                    <th rowspan="3">Gol</th>
                                    <th rowspan="3">Jabatan</th>
                                    <th rowspan="3">Jml Hari Kerja</th>
                                    <th colspan="11">Perincian Pelaksanaan Harian Kerja</th>
                                </tr>
                                <tr>
                                    <th rowspan="2">Jml Hadir</th>
                                    <th colspan="3">Keterangan Tidak Hadir</th>
                                    <th rowspan="2">Tidak Absen Datang / Pulang</th>
                                    <th rowspan="2">Alpa / Tanpa Keterangan</th>
                                    <th colspan="2">Kekurangan Jam Kerja</th>
                                    <th colspan="2">Total Kekurangan Jam Kerja</th>
                                    <th rowspan="2">Aktual Hari Kerja
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cuti</td>
                                    <td>Sakit</td>
                                    <td>DL</td>
                                    <td>Terlambat</td>
                                    <td>Pulang Lebih Awal</td>
                                    <td>Jam</td>
                                    <td>Hari</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="d : ${data}">
                                    <td th:text="${dStat.index+1}">No</td>
                                    <td th:utext="${d.nama +'<br /> NIP. ' + (d.nip == null ? '' : d.nip)}">Nama</td>
                                    <td th:text="${d.golongan}"></td>
                                    <td th:text="${d.jabatan}"></td>
                                    <td th:text="${d.hariKerja}">22</td>
                                    <td th:text="${d.hadir}">21</td>
                                    <td th:text="${d.cuti}">1</td>
                                    <td th:text="${d.sakit}">0</td>
                                    <td th:text="${d.dinasLuar}">0</td>
                                    <td th:text="${d.tidakAbsen}">0</td>
                                    <td th:text="${d.alpa}">0</td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tTerlambat=${d.timeTerlambat == null ? 0 : d.timeTerlambat}, tJam=${currentService.getExactHourNumber(tTerlambat)}, tSisa=${tTerlambat % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tTerlambat % 60} ">00:00</span>
                                    </td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tKecepetan=${d.timeKecepetan == null ? 0 : d.timeKecepetan}, tJam=${currentService.getExactHourNumber(tKecepetan)}, tSisa=${tKecepetan % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tKecepetan % 60} ">00:00</span>
                                    </td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tJamKurang=${d.timeJamKurang == null ? 0 : d.timeJamKurang}, tJam=${currentService.getExactHourNumber(tJamKurang)}, tSisa=${tJamKurang % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tJamKurang % 60} ">00:00</span>
                                    </td>
                                    <td th:text="${d.hariKurang}">1</td>
                                    <td th:text="${d.aktualKerja}">20</td>
                                </tr>
                                <tr class="text-bold">
                                    <td colspan="4">TOTAL</td>
                                    <td><span th:text="${#aggregates.sum(data.![hariKerja])}">22</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![hadir])}">21</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![cuti])}">1</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![sakit])}">0</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![dinasLuar])}">0</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![tidakAbsen])}">1</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![alpa])}">0</span></td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tTerlambat=${#aggregates.sum(data.![timeTerlambat] == null ? 0 : data.![timeTerlambat])}, tJam=${currentService.getExactHourNumber(tTerlambat)}, tSisa=${tTerlambat % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tTerlambat % 60} ">00:00</span>
                                    </td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tKecepetan=${#aggregates.sum(data.![timeKecepetan] == null ? 0 : data.![timeKecepetan])}, tJam=${currentService.getExactHourNumber(tKecepetan)}, tSisa=${tKecepetan % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tKecepetan % 60} ">00:00</span>
                                    </td>
                                    <td><span
                                            th:text="${ tJam+ ':' + tMenit + ':' + tDetik}"
                                            th:with="tJamKurang=${#aggregates.sum(data.![timeJamKurang] == null ? 0 : data.![timeJamKurang])}, tJam=${currentService.getExactHourNumber(tJamKurang)}, tSisa=${tJamKurang % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}, tDetik=${tJamKurang % 60} ">00:00</span>
                                    </td>
                                    <td><span th:text="${#aggregates.sum(data.![hariKurang])}">1</span></td>
                                    <td><span th:text="${#aggregates.sum(data.![aktualKerja])}">10</span></td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3">
                                <div class="float-left">
                                    <p class="text-bold">Akumulasi Perhitungan Total Kekurangan Jam Kerja dalam 1
                                        Periode:</p>
                                    <ol type="a">
                                        <li>7,5 - 8 jam dianggap 1 hari tidak masuk</li>
                                        <li>8,1 - 16 jam dianggap 2 hari tidak masuk</li>
                                        <li>16,1 - 24 jam dianggap 3 hari tidak masuk</li>
                                        <li>Untuk selanjutnya kelipatan 8 jam bertambah 1 hari tidak masuk</li>
                                        <li>Tidak absen datang/pulang dianggap tidak masuk kerja</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

        </div>
    </div>
</div>
<div layout:fragment="scripts">
    <script th:src="@{/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/assets/vendor/select2/dist/js/select2.full.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {
            $('.tanggal').datepicker({
                format: 'yyyy-mm-dd',
                todayHighlight: true
            });

            $('#id-kategori-pegawai').select2({
                placeholder: " Pilih Kategori Pegawai",
                allowClear: true,
                width: 'resolve'
            });

            $('#id-pegawai-cari').select2({
                placeholder: " Cari Pegawai",
                allowClear: true,
                width: 'resolve'
            });

            $('#api-pegawai-cari').select2({
                dropdownParent: $("#parent-pegawai-search"),
                placeholder: "Cari pegawai",
                minimumInputLength: 3,
                width: 'resolve',
                ajax: {
                    url: "/api/employees/admin-unit/" + [[${listIdUnitKerja}]],
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            nama: params.term
                        }

                        return query;
                    },
                    processResults: function (data) {
                        var dataPegawai = [];
                        data.forEach(function (value, key) {
                            dataPegawai.push({
                                id: value.id,
                                text: (value.gelarDepan == null ? "" : value.gelarDepan + " ") + value.nama + (value.gelarBelakang == null ? "" : " " + value.gelarBelakang)
                            })
                        });
                        return {
                            results: dataPegawai
                        }
                    },
                    cache: true
                }
            });
        });
    </script>
</div>
</body>
</html>
