<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">>
<head>
    <meta charset="UTF-8">
    <title>Rekap Dosen</title>
    <div layout:fragment="assets">
        <style media="print" type="text/css">
            @page {
                size: auto;
            }
        </style>
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div th:if="${!#strings.isEmpty(message)}" class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <span th:text="${message}">Change a few things up and try submitting again.</span>
            </div>

            <div class="card card-default">
                <div class="card-body">
                    <div>
                        <div class="text-center">
                            <h4 class="text-md mt-3">LAPORAN REKAP PRESENSI ONLINE</h4>
                            <p class="text-bold">Periode: <span th:text="${#temporals.format(mulai, 'dd MMMM yyyy')}">Tanggal Mulai</span>
                                s.d <span th:text="${#temporals.format(selesai, 'dd MMMM yyyy')}"></span></p>
                        </div>
                        <div class="row mt-5">
                            <div class="col-6">
                                <div class="clearfix">
                                    <p class="float-left">ID Absen</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawai.nomorAbsen}">1257</span>
                                    </p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">Nama</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${nama}">Supardi, M.Kom</span></p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">NIP</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawai.nip==null ? '-' : pegawai.nip}">1234</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="clearfix">
                                    <p class="float-left">Pangkat/Gol.</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${(pegawai.golongan?.pangkat==null ? '' : pegawai.golongan?.pangkat + '/' + (pegawai.golongan?.nama==null ? '' : pegawai.golongan?.nama))}">Golongan IIIa</span>
                                    </p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">Jabatan</p>
                                    <p class="float-right mr-2 text-bold"><span
                                            th:text="${pegawai.jabatanPegawai?.nama}">Supardi, M.Kom</span>
                                    </p>
                                </div>

                                <div class="clearfix">
                                    <p class="float-left">Unit Kerja</p>
                                    <p class="float-right mr-2 text-bold"><span th:text="${pegawai?.unitKerjaPresensi?.nama}">1576</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-bordered">
                        <table class="table table-sm text-center">
                            <thead class="text-center text-bold">
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2">Bulan</th>
                                <th rowspan="2">Jml Hari Kerja</th>
                                <th colspan="4">Perincian Pelaksanaan Harian Kerja</th>
                            </tr>
                            <tr>
                                <th>DL</th>
                                <th>Tidak Absen Datang / Pulang</th>
                                <th>Total Jam Kerja</th>
                                <th>Keterangan</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="d : ${data}">
                                <td th:text="${dStat.index+1}">No</td>
                                <td th:text="${d.bulanNama}">Oktober</td>
                                <td th:text="${d.hadir}">21</td>
                                <td th:text="${d.dinasLuar}">0</td>
                                <td th:text="${d.tidakAbsen}">0</td>
                                <td><span
                                        th:text="${ tJam+ ':' + tMenit}"
                                        th:with="tJamKerja=${d.jamKerja == null ? 0 : d.jamKerja}, tJam=${currentService.getExactHourNumber(tJamKerja)}, tSisa=${tJamKerja % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}">00:00</span>
                                </td>
                                <td></td>
                            </tr>
                            <tr class="text-bold">
                                <td colspan="2">TOTAL</td>
                                <td><span th:text="${#aggregates.sum(data.![hadir])}">21</span></td>
                                <td><span th:text="${#aggregates.sum(data.![dinasLuar])}">0</span></td>
                                <td><span th:text="${#aggregates.sum(data.![tidakAbsen])}">1</span></td>
                                <td><span
                                        th:text="${ tJam+ ':' + tMenit}"
                                        th:with="tJamKerja=${#aggregates.sum(data.![jamKerja] == null ? 0 : data.![jamKerja])}, tJam=${currentService.getExactHourNumber(tJamKerja)}, tSisa=${tJamKerja % 3600}, tMenit=${currentService.getExactMinuteNumber(tSisa)}">00:00</span>
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="mt-3">
                        <div class="float-left">
                            <p class="text-bold">Catatan:</p>
                            <ol type="a">
                                <li>Tidak absen datang/pulang dianggap tidak masuk kerja, dan tidak dihitung akumulasi jam kerja</li>
                                <li>Dosen Dinas Luar (DL) dihitung 3 jam kerja per hari</li>
                            </ol>
                        </div>
                        <div class="float-right">
                            <div class="clearfix">
                                Jakarta, <span th:text="${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"></span>
                            </div>
                            <div class="clearfix">
                                <span th:text="${unit?.pjJabatan}"></span>
                            </div>
                            <div class="mt-5">
                                <div class="clearfix">
                                    <span th:text="${pejabat == null ? '' : pejabat}"></span>
                                </div>
                                <div class="clearfix">
                                    <span th:text="${'Nip. ' + (unit?.pjPegawai == null ? '' : unit?.pjPegawai.nip)}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>