<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Unit</title>

    <div layout:fragment="assets">
        <link rel="stylesheet" th:href="@{/assets/vendor/select2/dist/css/select2.css}">
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger alert-dismissable" th:if="${!#strings.isEmpty(message)}">
                <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
                <span th:text="${message}">Change a few things up and try submitting again.</span>
            </div>

            <form class="form-group mb-4" method="get">
                <div class="form-row ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label" for="id-nama">Nama</label>
                            <input class="form-control input-sm" id="id-nama" name="nama" th:value="${nama}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" id="parent-pegawai-search">
                            <label class="col-form-label" for="api-pegawai-cari">Pegawai</label>
                            <select class="form-control input-sm" id="api-pegawai-cari" name="pegawaiCari"
                                    th:value="${pegawaiCari}"></select>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <button class="btn btn-success" data-target="#tambah-modal" data-toggle="modal" type="button">
                        <i class="fa fa-plus"></i> Tambah
                    </button>
                    <div class="ml-auto">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </div>
            </form>

            <div class="card card-default">
                <div class="card-header text-bold">
                    <div class="float-right">
                        <a href="#" th:href="@{/home}"><em class="px-2 fa fa-home fa-sm text-success"></em></a>
                        <a href="#" th:href="@{/pusat/admin-unit/}"><em class="px-2 fa fa-redo fa-sm"></em></a>
                    </div>
                    Data Admin Unit
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Keterangan</th>
                                <th>Daftar Unit Kerja</th>
                                <th>Admin Unit</th>
                                <th>Nama Jabatan</th>
                                <th>Nama Pejabat</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="d : ${data.content}">
                                <td th:text="${d.nama}">Nama</td>
                                <td th:text="${d.keterangan}">Keterangan</td>
                                <td>
                                    <th:block th:each="p : ${d.unitKerja}">
                                        <p class="badge badge-success"
                                           th:text="${p.id} + ' - ' + ${p.unit?.nama} + ' - ' + ${p.nama}">
                                        </p>
                                        <br/>
                                    </th:block>
                                </td>
                                <th:block th:if="${d.pegawai != null}">
                                    <td th:text="${d.pegawai?.gelarDepan == null ? '' : d.pegawai?.gelarDepan + ' '} + ${d.pegawai?.nama} + ${d.pegawai?.gelarBelakang == null ? '' : ' ' + d.pegawai?.gelarBelakang}">
                                        Admin Unit
                                    </td>
                                </th:block>
                                <th:block th:if="${d.pegawai == null}">
                                    <td></td>
                                </th:block>
                                <td th:text="${d.pjJabatan}">Nama Jabatan</td>
                                <th:block th:if="${d.pjPegawai != null}">
                                    <td th:text="${d.pjPegawai?.gelarDepan == null ? '' : d.pjPegawai?.gelarDepan + ' '} + ${d.pjPegawai?.nama} + ${d.pjPegawai?.gelarBelakang == null ? '' : ' ' + d.pjPegawai?.gelarBelakang}">
                                        Nama Pejabat
                                    </td>
                                </th:block>
                                <th:block th:if="${d.pjPegawai == null}">
                                    <td></td>
                                </th:block>
                                <td class="text-right">
                                    <button class="btn btn-white" sec:authorize="hasAnyAuthority('am','pegpst')"
                                            th:attr="onclick='javascript:showModalEdit(\'' + ${d.id} +'\');'"
                                            title="Ubah Data"
                                            type="button">
                                        <i class="fa fa-pencil-alt"></i>
                                    </button>
                                    <a th:href="@{/pusat/admin-unit/delete(id=${d.id})}">
                                        <button class="btn btn-white" sec:authorize="hasAnyAuthority('am','pegpst')"
                                                title="Hapus Data"
                                                type="button">
                                            <i class="fa fa-trash">
                                            </i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex">
                        <div sd:pagination-summary="">Showing 1 to 10 of 57 entries</div>
                        <div class="ml-auto">
                            <ul class="pagination" sd:pagination="full" sd:pagination-split="7">
                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                <li class="disabled">
                                    <a aria-label="Previous" href="#">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">1
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="scripts">
    <script th:src="@{/assets/vendor/select2/dist/js/select2.full.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        function showModalEdit(id) {
            $.ajax({
                url: "edit/" + id,
                success: function (data) {
                    $("#holder-edit-modal").html(data);
                    $("#edit-modal").modal("show");
                }
            });
        }

        $(document).ready(function () {
            $('#id-unitkerja').select2({
                placeholder: "Ketikan nama Unit Kerja",
                allowClear: true,
                width: 'resolve'
            });

            $('#api-pegawai-cari').select2({
                dropdownParent: $("#parent-pegawai-search"),
                placeholder: "Pilih pegawai",
                minimumInputLength: 3,
                width: 'resolve',
                ajax: {
                    url: "/api/employees",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            nama: params.term
                        }

                        return query;
                    },
                    processResults: function (data) {
                        var dataPegawai = [];
                        data.forEach(function (value, key) {
                            dataPegawai.push({
                                id: value.id,
                                text: (value.gelarDepan == null ? "" : value.gelarDepan + " ") + value.nama + (value.gelarBelakang == null ? "" : " " + value.gelarBelakang)
                            })
                        });
                        return {
                            results: dataPegawai
                        }
                    },
                    cache: true
                }
            });

            $('#api-pegawai').select2({
                dropdownParent: $("#tambah-modal"),
                placeholder: "Pilih pegawai untuk dipetakan menjadi Admin Unit",
                minimumInputLength: 3,
                width: 'resolve',
                ajax: {
                    url: "/api/employees",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            nama: params.term
                        }

                        return query;
                    },
                    processResults: function (data) {
                        var dataPegawai = [];
                        data.forEach(function (value, key) {
                            dataPegawai.push({
                                id: value.id,
                                text: (value.gelarDepan == null ? "" : value.gelarDepan + " ") + value.nama + (value.gelarBelakang == null ? "" : " " + value.gelarBelakang)
                            })
                        });
                        return {
                            results: dataPegawai
                        }
                    },
                    cache: true
                }
            });

            $('#api-pegawai-pejabat').select2({
                dropdownParent: $("#tambah-modal"),
                placeholder: "Pilih Pegawai untuk dipetakan menjadi Pejabat",
                minimumInputLength: 3,
                width: 'resolve',
                ajax: {
                    url: "/api/employees",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            nama: params.term
                        }

                        return query;
                    },
                    processResults: function (data) {
                        var dataPegawai = [];
                        data.forEach(function (value, key) {
                            dataPegawai.push({
                                id: value.id,
                                text: (value.gelarDepan == null ? "" : value.gelarDepan + " ") + value.nama + (value.gelarBelakang == null ? "" : " " + value.gelarBelakang)
                            })
                        });
                        return {
                            results: dataPegawai
                        }
                    },
                    cache: true
                }
            });

        });
    </script>

    <div aria-hidden="true" aria-labelledby="tambah-modal-in" class="modal fade" id="tambah-modal" role="dialog"
         tabindex="-1">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="tambah-modal-in">Tambah Admin Unit</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/" class="form-horizontal" method="post" th:action="@{/pusat/admin-unit/form}"
                      th:object="${adminunit}">
                    <input th:field="*{id}" type="hidden"/>
                    <div class="modal-body">

                        <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label mb-2">Nama</label>
                            <div class="col-xl-6 col-10">
                                <input class="form-control" name="nama" th:field="*{nama}" type="text">
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label mb-2">Keterangan</label>
                            <div class="col-xl-6 col-10">
                                <input class="form-control" name="keterangan" th:field="*{keterangan}" type="text">
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label mb-2">Daftar Unit Kerja</label>
                            <div class="col-md-9 addVerticalScroll">
                                <select class="form-control" id="id-unitkerja"
                                        multiple="multiple"
                                        name="unitKerja"
                                        style="width: 65%"
                                        th:field="*{unitKerja}">
                                    <option th:each="p : ${listUnitkerja}"
                                            th:text="${p.id} + ' - ' + ${p.unit?.nama} + ' - ' + ${p.nama}"
                                            th:value="${p.id}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-sm-2 col-form-label">Admin Unit</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="api-pegawai" name="pegawai" style="width: 58%"
                                        th:field="*{pegawai}">
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label mb-2">Nama Jabatan</label>
                            <div class="col-xl-6 col-10">
                                <input class="form-control" name="pjJabatan" th:field="*{pjJabatan}" type="text">
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-sm-2 col-form-label">Nama Pejabat</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="api-pegawai-pejabat" name="pjPegawai"
                                        style="width: 58%" th:field="*{pjPegawai}">
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="holder-edit-modal"></div>
</div>

<div aria-hidden="true" aria-labelledby="edit-modal-in" class="modal fade" id="edit-modal"
     role="dialog"
     th:fragment="modalEditAdminUnit">

    <script th:src="@{/assets/vendor/select2/dist/js/select2.full.js}"></script>
    <script th:inline="javascript" type="text/javascript">

        function showEditPegawaiPejabat(i) {
            var element;
            var elementDefault;
            if (i === 0) {
                element = document.getElementById('hide-element-pegawai');
                elementDefault = document.getElementById('default-element-pegawai');
                document.getElementById('id-pegawai').setAttribute('name', 'pegawai-lama');
                document.getElementById('api-pegawai-edit').setAttribute('name', 'pegawai');
            } else {
                element = document.getElementById('hide-element-pejabat');
                elementDefault = document.getElementById('default-element-pejabat');
                document.getElementById('id-pjPegawai').setAttribute('name', 'pejabat-lama');
                document.getElementById('api-pejabat-edit').setAttribute('name', 'pjPegawai');
            }
            element.style.display = "inline";
            elementDefault.style.display = "none";
        }

        function hideEditPegawaiPejabat(i) {
            var element;
            var elementDefault;
            if (i === 0) {
                element = document.getElementById('hide-element-pegawai');
                elementDefault = document.getElementById('default-element-pegawai');
                document.getElementById('id-pegawai').setAttribute('name', 'pegawai');
                document.getElementById('api-pegawai-edit').setAttribute('name', 'pegawai-edit');
            } else {
                element = document.getElementById('hide-element-pejabat');
                elementDefault = document.getElementById('default-element-pejabat');
                document.getElementById('id-pjPegawai').setAttribute('name', 'pjPegawai');
                document.getElementById('api-pejabat-edit').setAttribute('name', 'pejabat-edit');
            }
            element.style.display = "none";
            elementDefault.style.display = "inline-flex";
        }

        $(document).ready(function () {
            $('#id-unitkerja-edit').select2({
                placeholder: " Ketikan nama Unit Kerja",
                allowClear: true,
                width: 'resolve'
            });

            $('#api-pegawai-edit').select2({
                dropdownParent: $("#edit-modal"),
                placeholder: "Pilih pegawai untuk dipetakan menjadi Admin Unit",
                minimumInputLength: 3,
                width: 'resolve',
                ajax: {
                    url: "/api/employees",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            nama: params.term
                        }

                        return query;
                    },
                    processResults: function (data) {
                        var dataPegawai = [];
                        data.forEach(function (value, key) {
                            dataPegawai.push({
                                id: value.id,
                                text: (value.gelarDepan == null ? "" : value.gelarDepan + " ") + value.nama + (value.gelarBelakang == null ? "" : " " + value.gelarBelakang)
                            })
                        });
                        return {
                            results: dataPegawai
                        }
                    },
                    cache: true
                }
            });


            $('#api-pejabat-edit').select2({
                dropdownParent: $("#edit-modal"),
                placeholder: "Pilih Pegawai untuk dipetakan menjadi Pejabat",
                minimumInputLength: 3,
                width: 'resolve',
                ajax: {
                    url: "/api/employees",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            nama: params.term
                        }

                        return query;
                    },
                    processResults: function (data) {
                        var dataPegawai = [];
                        data.forEach(function (value, key) {
                            dataPegawai.push({
                                id: value.id,
                                text: (value.gelarDepan == null ? "" : value.gelarDepan + " ") + value.nama + (value.gelarBelakang == null ? "" : " " + value.gelarBelakang)
                            })
                        });
                        return {
                            results: dataPegawai
                        }
                    },
                    cache: true
                }
            });
        });
    </script>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="edit-modal-in">Edit Admin Unit</h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/" class="form-horizontal" method="post" th:action="@{/pusat/admin-unit/form}"
                  th:object="${a}">
                <input th:field="*{id}" type="hidden"/>
                <div class="modal-body">

                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label mb-2">Nama</label>
                        <div class="col-xl-6 col-10">
                            <input class="form-control" name="nama" th:field="*{nama}" type="text">
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label mb-2">Keterangan</label>
                        <div class="col-xl-6 col-10">
                            <input class="form-control" name="keterangan" th:field="*{keterangan}" type="text">
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label mb-2">Daftar Unit Kerja</label>
                        <div class="col-md-9 addVerticalScroll">
                            <select class="form-control" id="id-unitkerja-edit" multiple="multiple"
                                    name="unitKerja"
                                    style="width: 65%"
                                    th:field="*{unitKerja}">
                                <option th:each="p : ${listUnitkerja}"
                                        th:text="${p.id} + ' - ' + ${p.nama} + ' - ' + ${p.unit?.nama}"
                                        th:value="${p.id}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label class="col-sm-2 col-form-label">Admin Unit</label>
                        <div class="col-xl-6 col-10">
                            <th:block th:if="${a.pegawai} != null">
                                <div class="input-group" id="default-element-pegawai">
                                    <input id="id-pegawai" name="pegawai" th:field="*{pegawai}" type="hidden"/>
                                    <label class="form-control" id="label-pegawai" type="text">
                                        <th:block
                                                th:text="${a.pegawai.gelarDepan == null ? '' : a.pegawai.gelarDepan + ' '} + ${a.pegawai.nama} + ${a.pegawai.gelarBelakang == null ? '' : ' ' + a.pegawai.gelarBelakang}"></th:block>
                                    </label>
                                    <span class="input-group-append input-group-addon">
                                        <a class="input-group-text far fa-edit" href="#"
                                           onclick="showEditPegawaiPejabat(0)"
                                           title="Ubah Pegawai"></a>
                                    </span>
                                </div>
                            </th:block>
                            <div class="input-group" id="hide-element-pegawai"
                                 th:style="${a.pegawai} == null ? 'display: inline;' : 'display: none;'">
                               <span class="input-group-append input-group-addon">
                                   <select class="form-control" id="api-pegawai-edit"
                                           style="width: 98%"
                                           th:field="*{pegawai}"
                                           th:name="${a.pegawai} == null ? 'pegawai' : 'pegawai-edit'"></select>
                                                                        <th:block th:if="${a.pegawai} != null"><a
                                                                                class="input-group-text far fa-stop-circle"
                                                                                href="#"
                                                                                onclick="hideEditPegawaiPejabat(0)"
                                                                                title="Batal"></a></th:block>
                                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label mb-2">Nama Jabatan</label>
                        <div class="col-xl-6 col-10">
                            <input class="form-control" name="pjJabatan" th:field="*{pjJabatan}" type="text">
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label class="col-sm-2 col-form-label">Nama Pejabat</label>
                        <div class="col-xl-6 col-10">
                            <th:block th:if="${a.pjPegawai} != null">
                                <div class="input-group" id="default-element-pejabat">
                                    <input id="id-pjPegawai" name="pjPegawai" th:field="*{pjPegawai}" type="hidden"/>
                                    <label class="form-control" id="label-pejabat" type="text">
                                        <th:block
                                                th:text="${a.pjPegawai.gelarDepan == null ? '' : a.pjPegawai.gelarDepan + ' '} + ${a.pjPegawai.nama} + ${a.pjPegawai.gelarBelakang == null ? '' : ' ' + a.pjPegawai.gelarBelakang}"></th:block>
                                    </label>
                                    <span class="input-group-append input-group-addon">
                                        <a class="input-group-text far fa-edit" href="#"
                                           onclick="showEditPegawaiPejabat(1)"
                                           title="Ubah Pejabat"></a>
                                    </span>
                                </div>
                            </th:block>
                            <div class="input-group" id="hide-element-pejabat"
                                 th:style="${a.pjPegawai} == null ? 'display: inline;' : 'display: none;'">
                               <span class="input-group-append input-group-addon">
                                   <select class="form-control" id="api-pejabat-edit"
                                           style="width: 98%"
                                           th:field="*{pjPegawai}"
                                           th:name="${a.pjPegawai} == null ? 'pjPegawai' : 'pejabat-edit'"></select>
                                                                        <th:block th:if="${a.pjPegawai} != null"><a
                                                                                class="input-group-text far fa-stop-circle"
                                                                                href="#"
                                                                                onclick="hideEditPegawaiPejabat(1)"
                                                                                title="Batal"></a></th:block>
                                    </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>