<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Backdoor Absensi</title>

    <div layout:fragment="assets">
        <link rel="stylesheet" th:href="@{/assets/vendor/select2/dist/css/select2.css}">
        <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-clockpicker/dist/css/bootstrap-clockpicker.min.css}">
        <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css}">
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div th:if="${!#strings.isEmpty(message)}" class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <span th:text="${message}">Change a few things up and try submitting again.</span>
            </div>

            <form method="get" class="form-group mb-4">
                <div class="form-row ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label" for="id-nama">Nama</label>
                            <input id="id-nama" class="form-control input-sm" name="nama" th:value="${nama}">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-form-label" for="id-tanggal">Tanggal</label>
                                <div class="input-group date">
                                    <input class="form-control" type="text" id="id-tanggal" name="tanggal"
                                           th:value="${tanggal}">
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text far fa-clock"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#tambah-modal">
                        <i class="fa fa-plus"></i> Tambah
                    </button>
                    <div class="ml-auto">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </div>
            </form>

            <div class="card card-default">
                <div class="card-header text-bold">
                    <div class="float-right">
                        <a th:href="@{/home}" href="#"><em class="px-2 fa fa-home fa-sm text-success"></em></a>
                        <a th:href="@{/pusat/reset/}" href="#"><em class="px-2 fa fa-redo fa-sm"></em></a>
                    </div>
                    Data Presensi Pegawai
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Nama</th>
                                <th>NIP</th>
                                <th>Absen</th>
                                <th>Tanggal</th>
                                <th>Datang</th>
                                <th>Pulang</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="d : ${data.content}">
                                <td th:text="${d.pegawai.nama}">Nama</td>
                                <td th:text="${d.pegawai.nip}">NIP</td>
                                <td th:text="${d.pegawai.nomorAbsen}">No Absen</td>
                                <td th:text="${d.tanggal}">Tanggal</td>
                                <td>
                                    <span class="d-block mb-1 btn btn-sm btn-success" th:if="${d.waktuIn != null}"
                                          th:text="${d.waktuIn}"></span>
                                </td>
                                <td>
                                    <span class="d-block mb-1 btn btn-sm btn-danger" th:if="${d.waktuOut != null}"
                                          th:text="${d.waktuOut}"></span>
                                </td>
                                <td class="text-right">
                                    <button sec:authorize="hasAnyAuthority('am','pegpst')" class="btn btn-white" type="button"
                                            th:attr="onclick='javascript:showModalEdit(\'' + ${d.id} +'\');'">
                                        <i class="fa fa-pencil-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex">
                        <div sd:pagination-summary="">Showing 1 to 10 of 57 entries</div>
                        <div class="ml-auto">
                            <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                <li class="disabled">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">1
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="scripts">
    <script th:src="@{/assets/vendor/select2/dist/js/select2.full.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap-clockpicker/dist/js/bootstrap-clockpicker.min.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        function showModalEdit(id) {
            $.ajax({
                url: "absensi/" + id,
                success: function (data) {
                    $("#holder-edit-modal").html(data);
                    $("#edit-modal").modal("show");
                }
            });
        }

        $(document).ready(function () {
            $('#id-tanggal').datepicker({
                format: 'yyyy-mm-dd'
            });
            $('#api-tanggal').datepicker({
                format: 'yyyy-mm-dd'
            });
            $('.clockpicker').clockpicker({
                autoclose: true,
                donetext: "OK"
            });

            $('#api-pegawai').select2({
                dropdownParent: $("#tambah-modal"),
                placeholder: "Pilih pegawai untuk absensi",
                minimumInputLength: 3,
                ajax: {
                    url: "/api/employees",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            nama: params.term
                        }

                        return query;
                    },
                    processResults: function (data) {
                        var dataPegawai = [];
                        data.forEach(function (value, key) {
                            dataPegawai.push({
                                id: value.id,
                                text: (value.gelarDepan == null ? "" : value.gelarDepan + " ") + value.nama + (value.gelarBelakang == null ? "" : " " + value.gelarBelakang)
                            })
                        });
                        return {
                            results: dataPegawai
                        }
                    },
                    cache: true
                }
            });
        });
    </script>

    <div class="modal fade" id="tambah-modal" tabindex="-1" role="dialog" aria-labelledby="tambah-modal-in"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="tambah-modal-in">Tambah Presensi Pegawai</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form-horizontal" method="post" th:action="@{/pusat/backdoor/form}" action="/">
                    <div class="modal-body">
                        <div class="form-group row mb-2">
                            <label class="col-sm-2 col-form-label">Pegawai</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="api-pegawai" name="fpegawai">
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label mb-2">Tanggal</label>
                            <div class="col-xl-6 col-10">
                                <div class="input-group date" id="api-tanggal">
                                    <input class="form-control" type="text" name="ftanggal">
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text far fa-clock"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label mb-2">Jam Datang</label>
                            <div class="col-xl-6 col-4">
                                <div class="input-group clockpicker">
                                    <input type="text" class="form-control" value="07:30" name="fjamdatang">
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text far fa-clock"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label mb-2">Jam Pulang</label>
                            <div class="col-xl-6 col-4">
                                <div class="input-group clockpicker">
                                    <input type="text" class="form-control" value="16:00" name="fjampulang">
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text far fa-clock"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="holder-edit-modal"></div>
</div>

<div class="modal fade" id="edit-modal" role="dialog" th:fragment="modalEditPresensi"
     aria-labelledby="edit-modal-in"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="edit-modal-in">Edit Presensi Pegawai</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-horizontal" method="post" th:action="@{/pusat/backdoor/update}" action="/"
                  th:object="${a}">
                <input type="hidden" th:field="*{id}"/>

                <div class="modal-body">
                    <div class="form-group row mb-2">
                        <label class="col-sm-2 col-form-label">Pegawai</label>
                        <div class="col-sm-10">
                            <span class="d-block mb-1" th:text="${a.pegawai.nama}"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label">Tanggal</label>
                        <div class="col-sm-10">
                            <span class="d-block mb-1" th:text="${a.tanggal}"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label mb-2">Jam Datang</label>
                        <div class="col-xl-6 col-4">
                            <div class="input-group clockpicker">
                                <input type="text" class="form-control" th:value="*{waktuIn}" th:field="*{waktuIn}">
                                <span class="input-group-append input-group-addon">
                                        <span class="input-group-text far fa-clock"></span>
                                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label mb-2">Jam Pulang</label>
                        <div class="col-xl-6 col-4">
                            <div class="input-group clockpicker">
                                <input type="text" class="form-control" th:value="*{waktuOut}" th:field="*{waktuOut}">
                                <span class="input-group-append input-group-addon">
                                        <span class="input-group-text far fa-clock"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript" type="text/javascript">
        $('.clockpicker').clockpicker({
            autoclose: true
        });
    </script>
</div>
</body>
</html>