<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Laporan Harian Absensi</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div th:if="${!#strings.isEmpty(message)}" class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <span th:text="${message}">Change a few things up and try submitting again.</span>
            </div>

            <div class="card card-default">
                <div class="card-header text-bold">
                    <div class="float-right">
                        <a th:href="@{/home}" href="#"><em class="px-2 fa fa-home fa-sm text-success"></em></a>
                        <a th:href="@{/laporan/harian}" href="#"><em class="px-2 fa fa-redo fa-sm"></em></a>
                    </div>
                    Laporan Harian Absensi
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/pusat/laporan/harian-print-all}">
                        <div class="form-row ">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label" for="id-kategori">Kategori</label>
                                    <select id="id-kategori" class="form-control input-sm custom-select" name="kategori">
                                        <option value="0">--Pilih Kategori--</option>
                                        <option th:each="d : ${listJenis}"
                                                th:value="${d.id}" th:text="${d.nama}">Pilihan
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="ml-auto">
                                <button class="btn btn-lg btn-danger" type="submit">
                                    <i class="fa fa-download"></i> Download Absensi
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
